<div class="nav-container nav-med navbar-expand-lg">
  <div class="container-fluid d-flex justify-content-between">
    <a href="javascript:void(0)" onclick="openNavMarg()">
      <i class="bi bi-list"></i>
    </a>
    <div class="d-flex nav-profile align-items-center">
      <form action="/search" method="get" class="d-flex">
        <input type="search" name="q" class="form-control" size="15" />
        <input type="submit" value="Search" class="btn btn-outline-primary" />
      </form>
      <div class="res-circle">
        <div class="circle-text">U</div>
      </div>
      <a href="#">Unis Badri</a>
      <a href="#">
        <i class="bi bi-caret-down-fill"></i>
      </a>
    </div>
  </div>
</div>

<div class="nav-container nav-small">
  <div class="container d-flex justify-content-between">
    <a href="javascript:void(0)" onclick="openNav()">
      <i class="bi bi-list"></i>
    </a>
    <div class="d-flex profile align-items-center">
      <form action="/search" method="get" class="d-flex">
        <input type="search" name="q" class="form-control" size="10" />
        <input type="submit" value="Search" class="btn btn-outline-primary" />
      </form>
    </div>
  </div>
</div>
