<div class="sidebar">
  <a href="/"><img src="/images/Rectangle 63.svg" alt="" /></a>
  <a class="d-flex flex-column align-items-center" href="/">
    <i class="bi bi-house fs-3"></i>
    <p class="sidebar-link">Dashboard</p>
  </a>
  <a onclick="openNavMarg()" class="d-flex flex-column align-items-center" href="javascript:void(0)">
    <i class="bi bi-truck fs-3"></i>
    <p class="sidebar-link">Cars</p>
  </a>
</div>

<div class="sidebar-extension" id="sidebar-extension">
  <img src="/images/Rectangle 62.svg" alt="" />
  <h6 class="mt-2 p-3 text-muted fw-bold">Cars</h6>
  <div class="mt-2 d-flex sidebar-extension-item">
    <a href="/" class="px-3 py-1 fw-bold">List Car</a>
  </div>
</div>

<div class="sidebar-small">
  <a href="/"><img src="/images/Rectangle 63.svg" alt="" /></a>
  <a class="d-flex flex-column align-items-center" href="/">
    <i class="bi bi-house fs-3"></i>
    <p class="sidebar-link">Dashboard</p>
  </a>
  <a onclick="openNav()" class="d-flex flex-column align-items-center" href="javascript:void(0)">
    <i class="bi bi-truck fs-3"></i>
    <p class="sidebar-link">Cars</p>
  </a>
</div>
