<div class="container-fluid content" onclick="closeNav()">
  <h6 class="fw-bold">Cars > List Car ><span class="fw-normal text-muted"> Add New Car</span></h6>
  <h5 class="fw-bold mt-4">Add New Car</h5>
  <form method="post" action="/add" class="py-4" enctype="multipart/form-data">
    <div class="form-add">
      <div class="row align-items-center">
        <div class="col-md-3">
          <h6>Nama</h6>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" required name="name" placeholder="Nama Mobil" />
        </div>
      </div>
      <div class="row align-items-center my-3">
        <div class="col-md-3">
          <h6>Sewa Per Hari</h6>
        </div>
        <div class="col-md-6">
          <input type="text" class="form-control" required name="price" placeholder="Rp.0,-" />
        </div>
      </div>
      <div class="row align-items-center my-3">
        <div class="col-md-3">
          <h6>Ukuran</h6>
        </div>
        <div class="col-md-6">
          <select class="form-select" required name="size">
            <option value="Small" selected>Small</option>
            <option value="Medium">Medium</option>
            <option value="Large">Large</option>
          </select>
        </div>
      </div>
      <div class="row align-items-center my-3">
        <div class="col-md-3">
          <h6>Foto</h6>
        </div>
        <div class="col-md-6">
          <input type="file" name="image" required class="form-control" />
        </div>
      </div>
    </div>
    <div class="d-flex gap-3">
      <a href="/create" class="btn btn-cancel">Cancel</a>
      <button type="submit" id="btn-edit-save" class="btn-add btn btn-primary">Save</button>
    </div>
  </form>
</div>
