<div class="container-fluid content" onclick="closeNav()">
  <h6 class="fw-bold">Cars > List Car > <span class="fw-normal text-muted">Update Car Information</span></h6>
  <h5 class="fw-bold mt-4">Update Car Information</h5>
  <form method="post" action="/update/<%= car.id %>?_method=PUT" enctype="multipart/form-data" class="py-4">
    <div class="form-add">
      <div class="row align-items-center">
        <div class="col-md-3">
          <h6>Nama</h6>
        </div>
        <div class="col-md-6">
          <input type="text" onchange="enabled()" class="form-control" required name="name" value="<%= car.name %>" placeholder="Nama Mobil" />
        </div>
      </div>
      <div class="row align-items-center my-3">
        <div class="col-md-3">
          <h6>Sewa Per Hari</h6>
        </div>
        <div class="col-md-6">
          <input type="text" onchange="enabled()" class="form-control" required name="price" value="<%= car.price %>" placeholder="Rp.0,-" />
        </div>
      </div>
      <div class="row align-items-center my-3">
        <div class="col-md-3">
          <h6>Ukuran</h6>
        </div>
        <div class="col-md-6">
          <select class="form-select" onchange="enabled()" required name="size">
            <option value="Small" <%= (car.size == 'Small')?"selected":"" %>>Small</option>
            <option value="Medium" <%= (car.size == 'Medium')?"selected":"" %>>Medium</option>
            <option value="Large" <%= (car.size == 'Large')?"selected":"" %>>Large</option>
          </select>
        </div>
      </div>
      <div class="row align-items-center my-3">
        <div class="col-md-3">
          <h6>Foto</h6>
        </div>
        <div class="col-md-6">
          <input type="file" onchange="enabled()" name="image" required class="form-control"/>
        </div>
      </div>
    </div>
    <div class="d-flex gap-3">
      <a href="/" class="btn btn-cancel ">Cancel</a>
      <button type="submit" disabled id="btn-edit-save" class="btn-add btn btn-primary">Save</button>
    </div>
  </form>
</div>
