<div class="container-fluid content py-4" onclick="closeNav()">
  <h6 class="fw-bold">Cars > <span class="fw-normal">List Car</span></h6>
  <% if(messages.insertMessage.length !== 0){ %>
  <div class="alert" role="alert">
    <h6 class="alert-insert text-center"><%= messages.insertMessage %></h6>
  </div>
  <% } %> <% if(messages.updateMessage.length !== 0){ %>
  <div class="alert" role="alert">
    <h6 class="alert-insert text-center"><%= messages.updateMessage %></h6>
  </div>
  <% } %> <% if(messages.deleteMessage.length !== 0){ %>
  <div class="alert" role="alert">
    <h6 class="alert-delete text-center"><%= messages.deleteMessage %></h6>
  </div>
  <% } %>
  <div class="d-flex justify-content-between mt-4">
    <h5 class="fw-bold">List Car</h5>
    <a href="/create"><button class="btn btn-add">+ Add New Car</button></a>
  </div>
  <div class="container-filter gap-3 mt-3 mb-4 d-flex">
    <a href="/" class="content-filter content-filter-selected">All</a>
    <a href="/filter?filter=Small" class="content-filter">Small</a>
    <a href="/filter?filter=Medium" class="content-filter">Medium</a>
    <a href="/filter?filter=Large" class="content-filter">Large</a>
  </div>
  <div class="row row-cols-1 row-cols-md-3 g-4">
    <% cars.forEach(car => { %>
    <div class="col">
      <div class="card h-100">
        <img src="/images/<%= car.image %>" class="card-img" alt="<%= car.image %> " />
        <div class="card-body">
          <p class="card-subtitle"><%= car.name %>/<%= car.type %></p>
          <h5 class="card-title mt-2 fw-bold">Rp <%= car.price %> / hari</h5>
          <p class="card-subtitle mt-3">Updated at <%= car.day %> <%= car.month %> <%= car.year %>, <%= car.hour %>.<%= car.minute %></p>
          <div class="row my-3">
            <div class="d-flex justify-content-center col-md-6">
              <button type="button" data-bs-toggle="modal" data-bs-target="#staticBackdrop<%= car.id %>" class="delete-btn btn btn-outline-danger fw-bold"><i class="bi bi-trash"></i>Delete</button>
              <div class="modal fade" id="staticBackdrop<%= car.id %>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
                <div class="modal-dialog modal-dialog-centered">
                  <div class="modal-content">
                    <div class="modal-body">
                      <div class="d-flex flex-column align-items-center px-5">
                        <img src="/images/img-BeepBeep.svg" alt="" />
                        <h6 class="fw-bold my-4">Menghapus Data Mobil</h6>
                        <p class="text-center">Setelah dihapus, data mobil tidak dapat dikembalikan. Yakin ingin menghapus?</p>
                      </div>
                      <div class="d-flex justify-content-center gap-3">
                        <form action="/delete/<%= car.id %>?_method=DELETE" method="post">
                          <button type="submit" class="btn btn-add px-4">Ya</button>
                        </form>
                        <button type="button" class="btn btn-cancel" data-bs-dismiss="modal">Close</button>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="d-flex justify-content-center col-md-6">
              <a href="/edit/<%= car.id %>" class="fw-bold btn edit-btn"><i class="bi bi-pencil-square"></i>Edit</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <% }); %>
  </div>
</div>
