body {
  color: black;
  font-family: Arial, Helvetica, sans-serif;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
}

#main {
  margin-left: 50px;
  transition: margin-left 0.5s;
}
.nav-container {
  padding: 10px;
}

.nav-container .bi-list {
  font-size: 24px;
  color: black;
}

.nav-container .bi-caret-down-fill {
  font-size: 18px;
  color: black;
}
.nav-profile > * {
  margin-right: 10px;
}
.nav-small {
  display: none;
}
.res-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #bcd6ff;
  line-height: 0;
  position: relative;
}
.res-circle::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.circle-text {
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
  font-family: arial, sans-serif;
  font-weight: bold;
}
.sidebar {
  padding: 5px;
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #0d28a6;
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.29);
}
.sidebar img {
  padding: 5px;
}
.sidebar a {
  color: white;
}
.sidebar-link {
  font-size: 8px;
}
.sidebar-small {
  padding: 5px;
  align-items: center;
  display: none;
  flex-direction: column;
  height: 100%;
  background-color: #0d28a6;
  width: 50px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 5px 0px 15px 0px rgba(0, 0, 0, 0.29);
}
.sidebar-small img {
  padding: 5px;
}
.sidebar-small a {
  color: white;
}
.sidebar-extension {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 3;
  top: 0;
  left: 50px;
  background: white;
  flex-direction: column;
  overflow: hidden;
  transition: 0.5s;
  box-shadow: 10px 0px 15px 0px rgba(0, 0, 0, 0.29);
}
.sidebar-extension img {
  width: 7rem;
  padding: 10px;
  margin-bottom: 5px;
}
.sidebar-extension-item {
  background-color: #cfd4ed;
}
.sidebar-extension a {
  color: black;
}
.content {
  height: 100%;
  padding-top: 20px;
  background-color: #f4f5f7;
  padding-left: 23px;
  padding-right: 23px;
}
.content-filter {
  padding: 8px 12px 8px 12px;
  border-radius: 2px;
  border: 1px solid #0d28a6;
  color: #0d28a6;
  font-weight: bold;
}
.content-filter-selected {
  background-color: #cfd4ed;
}
.content-filter:hover {
  background-color: #cfd4ed;
}
.btn-add {
  background-color: #0d28a6;
  color: white;
  font-weight: bold;
  border-radius: 2px;
}
.btn-add:hover {
  color: white;
}
.btn-cancel {
  background-color: white;
  border: 1px solid #0d28a6;
  color: #0d28a6;
  font-weight: bold;
  border-radius: 2px;
}
.delete-btn {
  width: 100%;
}
.edit-btn {
  width: 100%;
  background-color: #5cb85f;
  color: white;
}
.card-img {
  padding: 10px;
  height: 15rem;
}
.form-add {
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
}
.form-add .form-select {
  width: 75%;
}
.form-add .form-control {
  width: 75%;
}
.bi.bi-trash {
  margin-right: 10px;
}
.bi.bi-pencil-square {
  margin-right: 10px;
}

.alert {
  display: flex;
  justify-content: center;
}

.alert-insert {
  background-color: #73ca5c;
  color: white;
  font-weight: bold;
  width: 50%;
  padding: 12px 16px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

.alert-delete {
  color: white;
  font-weight: bold;
  width: 50%;
  padding: 12px 16px;
  background-color: #151515;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}

@media (max-width: 576px) {
  .nav-med {
    display: none;
  }
  .sidebar {
    display: none;
  }

  .nav-small {
    display: flex;
  }
  .sidebar-small {
    display: flex;
  }
  .container-filter {
    justify-content: center;
  }
}

@media (min-width: 576px) {
  .nav-med {
    display: flex;
  }

  .nav-small {
    display: none;
  }
}
